<div class="palm-hasheader">
    <div class="palm-header">
		ShoutDrive Mobile
    </div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text" style="position:relative;">
    <strong>Now Playing</strong>: <span id="NowPlayingText"></span><br/>
    <span id="ArtworkContainer" horizontal-align="center"></span>
</div>
<div id="ListenLiveButton" name="ListenLiveButton1" x-mojo-element="Button"></div>
<div id="RequestTrackButton" name="RequestTrackButton" x-mojo-element="Button"></div>
<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc="">Recently Played</span>
    </div>
    <div class="palm-list" id="RecentlyPlayedList">
    </div>
</div>
<div id="MyDJSButton" name="ShoutDriveBoardButton1" x-mojo-element="Button"></div>
<div id="ShoutDriveBoardButton" name="ShoutDriveBoardButton1" x-mojo-element="Button"></div>
<div id="ShoutDriveAboutButton" name="ShoutDriveAboutButton" x-mojo-element="Button"></div>

<div class="palm-body-text">
</div>