<div class="palm-hasheader" style="position:relative !important;">
    <div class="palm-header" style="position:relative !important;">
        ShoutDrive Mobile &raquo; About
    </div>
</div>
<div class="palm-body-text"><p class="nomargin nopadding" style="text-align: center;"><img src="icon.png"/></p>
    <p class="nomargin nopadding">Launched in late 2007, ShoutDRIVE has grown to a full-featured site for dance music fans, including a free audio stream, discussion, live chat, downloads and more.<br/><br/>
        There are many types of dance music and many definitions of what dance music is. ShoutDRIVE plays dance music with melody, groove and some type of hook. Vocals, instrumentals, current and classic, pure dance and a few pop hits that have quality remixes, big hits and some tracks you may not have heard for awhile. We avoid cheese at all costs (because cheese is for eating, not listening!) And we have a team of mix DJs from across the U.S. and beyond.<br/><br/>
        ShoutDRIVE is based in Los Angeles, is independently owned and operated, and is fully compliant with ASCAP, BMI, SESAC and SoundExchange.</p>
</div>

